-extends "base.haml"

-load static
-load compress

-load bootstrap3

-block content
    %link{:rel => "stylesheet", :type => "text/css", :href => "/static/css/train/stylesheet_train.css"}
    %script{:src => "/static/js/train/creation_scenario.js"}

    #OurContainer
        %section#sectionElements
            #whiteBox{:methode => "POST"}
                {% csrf_token %}
                {{ form.errors }}
                {{ form.non_field_errors }}
                %div#headline
                    %span.glyphicon.glyphicon-cog
                    %label Paramètres
                #parameters.blk

                    %p Entrez les différents paramètres pour le scénario

                    %label{:for => 'title'} Titre :
                    %input{:id => 'title', :placeholder => 'Indiquez le titre', :value => "#{scenario.title}"}
                    %br
                    %label{:for => 'skill'} Compétences :
                    %input{:id => 'skill', :placeholder => 'Indiquez les compétences requises', :value => "#{scenario.skill}"}
                    %br
                    %label{:for => 'topic'} Sujet :
                    %input{:id => 'topic', :placeholder => 'Indiquez le sujet du scénario', :value => "#{scenario.topic}"}
                    %br
                    %label{:for => 'grade_level'} Niveau :
                    %input{:id => 'grade_level', :placeholder => "Indiquez le niveau d&rsquo;étude requis ", :value => "#{scenario.grade_level}"}
                    %br
                    %label{:for => 'instructions'} Instructions :
                    %input{:id => 'instructions', :placeholder => 'Expliquez votre scénario', :value => "#{scenario.instructions}"}
                    %br
                    %label{:for => 'public'} Public :
                    %input{:id => 'public', :type => 'checkbox'}
                    %br


            #videoBlockElem{:style => "display: none"}
                %div#headline
                    %span.glyphicon.glyphicon-facetime-video
                    %label{:for => 'title_video'} Vidéo:
                    %input.titre_vid_Elem{:id => 'title_video', :placeholder => 'Tapez votre titre'}
                    %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l&rsquo;élément",:action => "#", :onclick => "return removeElem(this)"}
                        %span.glyphicon.glyphicon-remove
                .panel-body
                    .form-group
                        %iframe{:width => "420", :height => "315", :style => "display: none"}
                        %label URL de votre vidéo (Youtube)
                        %input.url_vid_Elem{:id => 'vid_url', :type => "text"}
                        %button.btn.btn-primary#addVid.addVid{:action => "#", :onclick => "return loadVideo(this)"} Charger la vidéo
                        -# #loadVid{:style => "display: none"}
                    .form-group
                        %label{:for => 'description_vid'} Description:
                        %input.desc_vid_Elem{:id => 'description_vid', :placeholder => 'Optionnel'}

            #mcqBlockElem{:style => "display: none"}
                %div#headline
                    %span.glyphicon.glyphicon-list
                    %label{:for => 'title_mcq'} QCM:
                    %input.titre_MCQ_Elem{:placeholder => 'Tapez votre titre'}
                    %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l&rsquo;élément",:action => "#", :onclick => "return removeElem(this)"}
                        %span.glyphicon.glyphicon-remove
                .panel-body
                    %label Consigne:
                    %input.instruction_MCQ_Elem{:placeholder => 'Instruction'}
                    %br
                    %label Question:
                    %input.question_MCQ_Elem{:placeholder => 'Question'}
                    %br
                    %div.list_answers
                        %div.repLine
                            %label.labelanswer Réponse 1:
                            %input.answer1{:placeholder => 'Veuillez rentrer une réponse'}
                            %input.answer1isvalid{:type => "checkbox"}
                            %button.btn.btn-danger.removeReponse{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer la réponse",:action => "#", :onclick => "return removeReponse(this)", :style => "display : none"}
                                %span.glyphicon.glyphicon-remove
                        %br
                        %div.repLine
                            %label Réponse 2:
                            %input.answer2{:placeholder => 'Veuillez rentrer une réponse'}
                            %input.answer2isvalid{:type => "checkbox"}
                            %button.btn.btn-danger.removeReponse{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer la réponse",:action => "#", :onclick => "return removeReponse(this)"}
                                %span.glyphicon.glyphicon-remove
                        %br
                    %button.btn.btn-primary.addReponse{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une réponse",:action => "#", :onclick => "return addReponse(this)"}
                        %span.glyphicon.glyphicon-plus
                    %br

            #textBlockElem{:style => "display: none"}
                %div#headline
                    %span.glyphicon.glyphicon-font
                    %label{:for => 'title_txt'} Texte:
                    %input.titre_text_Elem{:placeholder => 'Tapez votre titre'}
                    %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l&rsquo;élément",:action => "#", :onclick => "return removeElem(this)"}
                        %span.glyphicon.glyphicon-remove

                .panel-body
                    %textarea.desc_text_Elem{:rows => "2%", :cols => "60%", :placeholder => "Tapez votre texte"}

            #imgBlockElem{:style => "display: none"}
                %div#headline
                    %span.glyphicon.glyphicon-picture
                    %label{:for => 'title_img'} Image:
                    %input#title_img.title_img{:placeholder => 'Tapez votre titre'}
                    %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l&rsquo;élément",:action => "#", :onclick => "return removeElem(this)"}
                        %span.glyphicon.glyphicon-remove
                .panel-body
                    .form-group
                        %img.imgprev{:width => "50%"}
                        %label Image (Entrez ici l'url de l'image)
                        %input.url_img_Elem{:id => 'img_url', :type => "text"}
                        -# %a{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une image"}
                        %img#addImg{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une image", :src => "/static/img/icons/add.png", :height => "5%", :width => "5%",:action => "#", :onclick => "return loadImage(this)"}
                        -# #loadImage{:style => "display: none"}
                    .form-group
                        %label{:for => 'description_img'} Description:
                        %input.desc_img_Elem{:id => 'description_img', :placeholder => 'Optionnel'}

            #pdfBlockElem{:style => "display: none"}
                %div#headline
                    %span.glyphicon.glyphicon-file
                    %label{:for => 'title_pdf'} PDF:
                    %input.titre_pdf_Elem{:id => 'title_pdf', :placeholder => 'Tapez votre titre'}
                    %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l&rsquo;élément",:action => "#", :onclick => "return removeElem(this)"}
                        %span.glyphicon.glyphicon-remove
                .panel-body
                    .form-group
                        %iframe.pdfprev{:width => "500", :height => "375", :style => "display: none"}
                        %label URL de votre pdf
                        %input.url_pdf_Elem{:id => 'pdf_url', :type => "text"}
                        %button.btn.btn-primary#addPDF{:action => "#", :onclick => "return loadPDF(this)"} Charger le PDF
                        -# #loadVid{:style => "display: none"}
                    .form-group
                        %label{:for => 'description_pdf'} Description:
                        %input.desc_pdf_Elem{:id => 'description_pdf', :placeholder => 'Optionnel'}

            #Tools.blk
                %br
                -# %input.btn.btn-primary#submit{:type => "submit"}
                {% buttons %}
                    #DiffElem
                        %button.btn.btn-primary#addElement
                            %span.glyphicon.glyphicon-plus
                            Ajouter un élément
                        #addElementDiv{:style => "display: none"}
                            %button.btn.btn-primary#addElementVideo
                                %span.glyphicon.glyphicon-facetime-video
                                Ajouter une vidéo
                            %button.btn.btn-primary#addElementTxt
                                %span.glyphicon.glyphicon-font
                                Ajouter un texte
                            %button.btn.btn-primary#addElementImg
                                %span.glyphicon.glyphicon-picture
                                Ajouter une image
                            %button.btn.btn-primary#addElementPDF
                                %span.glyphicon.glyphicon-file
                                Ajouter un PDF
                            %button.btn.btn-primary#addElementMcq
                                %span.glyphicon.glyphicon-list
                                Ajouter un QCM

                    %br
                    %button.btn.btn-primary#saveScenario{:onclick=> "editForm()"}
                        %span.glyphicon.glyphicon-floppy-disk
                        Sauvegarder
                {% endbuttons %}

        %nav#sideNavBar
            #navFixed
                .divElemNav
                    %span.glyphicon.glyphicon-cog
                        %label Paramètres
                .divElemNav#idTextElemNav{:style => "display: none"}
                    %span.glyphicon.glyphicon-font
                        %label Texte :
                            %span
                .divElemNav#idImgElemNav{:style => "display: none"}
                     %span.glyphicon.glyphicon-picture
                        %label Image :
                            %span
                .divElemNav#idVideoElemNav{:style => "display: none"}
                    %span.glyphicon.glyphicon-facetime-video
                        %label Vidéo :
                            %span
                .divElemNav#idMCQElemNav{:style => "display: none"}
                    %span.glyphicon.glyphicon-list
                        %label QCM :
                            %span
